[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-cleanup = "*"
django-allauth = "*"
django-htmx = "*"

[dev-packages]

[requires]
python_version = "3.12"
